# Karakeep
KARAKEEP_VERSION=release
MEILI_MASTER_KEY=REPLACE_WITH_LONG_RANDOM_KEY
NEXTAUTH_URL=https://karakeep.example-tailnet.ts.net
NEXTAUTH_SECRET=REPLACE_WITH_LONG_RANDOM_SECRET

# Tailscale
TS_AUTHKEY=
