COMPOSE_PROJECT_NAME=freshrss

# Service Configuration
SERVICE=freshrss
IMAGE_URL=freshrss/freshrss:latest
SERVICEPORT=80
LAN_PORT=5015

# Tailscale Configuration
# Example:
# TS_AUTHKEY=tskey-auth-xxxxxxxxxxxxxxxx
TS_AUTHKEY=

# Container Configuration
TZ=America/New_York
